//les fondations de votre site


img
{
 object-fit:cover;
}

body
{
margin:0px;
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
font-family:"Roboto","Sans serif";
z-index: 1;
  
}

a:link {
    text-decoration: none;
    color:black;
  }
a:visited{
    text-decoration: none;
    color:black;
}

a:hover
{
    cursor: pointer;
}

.menu .btn
{
   margin-bottom: 80px;
   width: 130px;
}


//animation
.coeur 
{
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
}

.coeur_plein
{
    background:linear-gradient(#9356DC,#FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
    display: none; 
    margin:0px;
    padding: 0px;
    padding-top: 4px;
}

.coeur_vide
{
    margin:0px;
    padding: 0px;
}

.coeur:hover .coeur_plein
{
display: block;
}

.coeur:hover .coeur_vide
{
    display: none; 
}


// bouton effet
.btn:hover
{ 
    background: linear-gradient( lighten(#FF79DA, 5%), lighten(#9356DC,5%));
  
    box-shadow :  4px 4px 8px 5px grey;      
}


//spinner
.chargement
{
    width: 100%;
    height: 100%;
    z-index: 1;
   position: fixed;
   top:10px;
    font-size: 150px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: spinner;
    animation-duration: 3s;
    @keyframes spinner {
    0%   { opacity:1;z-index: 999; }
    
    }
    
    
    
        .fas
    {   color: #9356DC;
        margin: 20%;
        position: sticky;
        justify-content: center;
        transition: transform 2500ms ease-in-out;
        animation: 2s ease-out 0s 1 rotation;
        animation-fill-mode:backwards;
        opacity: 0;
    
    }
@keyframes rotation
{
    0% {transform: rotate(0deg); opacity: 1;z-index: 99999; }
    20% {transform: rotate(360deg);}
    100% {transform: rotate(360deg);};
    
}
}

//animation menu  
@keyframes transition {
    0%   { margin-bottom: 0px;opacity:0; }
    100% { margin-bottom: 0px;margin-top: 20px;  opacity:1; }
    }
    .entree {opacity:0;animation: transition 0.5s ease-in-out 1s forwards;}
    .plats {opacity:0;animation: transition 1.5s ease-in-out 1s forwards;}
    .desserts {opacity:0;animation: transition 2s ease-in-out 1s forwards;}


    //animation check
.food
{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
}
.food h3, .food span
{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.price
{
padding: 10px;
padding-top:50px;
     
  } 

  .span {
    transition: transform 130ms ease-in-out;
    }

 .food
    {
        display: flex;
        flex-direction: column;
        
    }
 .cote
    {
        display: flex;
        height: 100%;
        
        
    }

.check
{
    display: flex;
    align-content: center;
    justify-content: center;
}
  .check>.fas
  {
      
  opacity: 0;
  height: 100%;
  align-items: center;
justify-content: center;
display: flex;


       
  }

  
.description:hover .fas
{
width: 60px;
height: 100%;
background-color: #99E2D0;
color: #FFFFFF;
padding-top: 3px;
align-content: center;
justify-content: center;
margin: 0px;
opacity: 1;
border-radius: 0px  15px 15px 0px ;
}
