//les blocs de code qui ne s’appliquent qu’à une seule page.

.en_tete
{
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    padding:10px;
    .fas{
        margin-left: 20px;
      
    }
    .logo{
        margin-right: 15%;
       
    }
}  

.bandeau
    {
        max-height: 280px;
        width: 100%;
        z-index: 1;
   
       
        .picture 
        {
            height: 250px;
        width: 100%;
        z-index: 1;
        }
    }

.main_menu
{
  
 z-index: 500;
position:relative;
display: flex;
flex-direction: column;
padding-top: 40px;
margin-top: -100px;
    
}
.menu{
    background-color: $gris;
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-top: 5px;
    border-radius: 60px 60px 0px 0px;
    z-index: 500;
    
    
    
        h1 {
            display: flex;
            justify-content: space-between;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 1.5rem;
            
        }
}




.menu_content h2
    {
border-bottom: $Tertiaire solid 4px;
font-weight: 100;
width: 50px;
margin-left: 20px;
    }

.description
{
   background-color: #FFFFFF;
   margin: 10px;
   width: 85%;
   max-width: 500px;
  
   margin: 20px;
   display: flex;
   justify-content: space-between;
    padding: 0px;
   border-radius: 15px;
   align-content: center;
   @include shadow;  
    padding-bottom: 03px;
    h3
    {
        margin: 10px;
        padding-top: 00px;
        font-size: 1.2em;
       
    }
        
    span
    {
        margin-left:10px;
        margin-bottom:0px;
        margin-top:0px; 
        margin-right: 0px;
        font-size: 1em;
        font-weight: 100;
    }
}

.menu_content
{
    display: flex;
    flex-direction: column;
        @media (min-width: 800px)
        { flex-direction: row;
            flex-wrap: wrap;
            
        }
}

.menu .entree
{
    @media (min-width: 800px)
    { width: 29%;}
}

.menu .plats
{
    @media (min-width: 800px)
    { width: 29%;}
}.menu .desserts
{
    @media (min-width: 800px)
    { width: 29%;}
}


.command
{
   margin-top: 25px; 
}

